body {
    text-align: center; 
    font-family:'Courier New', Courier, monospace;
    margin: 50px;
    background-color: rgb(255, 255, 255);
}
h1 {
    margin-top: 10%;
}
.ola {
    font-size: 30px;
    color: black;
    background-color: rgb(96, 248, 235);
    padding: 10px;
    border: solid 0 rgb(0, 0, 0);
    border-radius: 15px;
} 
video {
    margin: 7%;
    width: 80%;
    border-radius: 10px;
}